# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\fmbca\OneDrive - Universidade de Coimbra\Drive - Faculdade\2º ANO\Programação Orientada a Objetos\Projeto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
